.progress-bar {
    height: 5px;
    background-color: rgba(5, 114, 206, 0.2);
    width: 100%;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .legend {
    height: 20px;
    background-color: yellowgreen;
    width: 100%;
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid #d9d9d9;
  }
  
  .progress-bar-value {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 114, 206);
    animation: indeterminateAnimation 1s infinite linear;
    transform-origin: 0% 50%;
  }
  
  @keyframes indeterminateAnimation {
    0% {
      transform:  translateX(0) scaleX(0);
    }
    40% {
      transform:  translateX(0) scaleX(0.4);
    }
    100% {
      transform:  translateX(100%) scaleX(0.5);
    }
  }

  .w-50{
    height: 25px;
  }
  
  .pathway-div{
    background-color: #F2F2F2;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    position: relative;
    margin-left: 10%;
    width:80vw;
    height:50vh;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  
  rect{
    cursor: pointer;
    margin: 15px 0;
  }
  /* Circle styles */

  .circular {
    height: 100px;
    width: 100px;
    position: relative;
    border: solid green 1px;
  }

  .circular .inner {
    border: solid red 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 100%;
    z-index: 5;
  }

  .circular .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 500;
    color: rgb(45, 60, 47);
    z-index: 10;
  }

  .circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }

  .circular .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    clip: rect(0, 50px, 100px, 0);
    background: red;
  }

  .circular-progress-bar{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 82%;
  }